[submodule "submodules/debian-sysroot"]
	path = submodules/debian-sysroot
	url = https://github.com/AmanoTeam/debian-sysroot
[submodule "submodules/libsanitizer"]
	path = submodules/libsanitizer
	url = https://github.com/AmanoTeam/libsanitizer
[submodule "submodules/gdb"]
	path = submodules/gdb
	url = https://github.com/AmanoTeam/GDB-Builds
[submodule "submodules/nz"]
	path = submodules/nz
	url = https://github.com/AmanoTeam/Nouzen
[submodule "submodules/llvm-project"]
	path = submodules/llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "submodules/cmake"]
	path = submodules/cmake
	url = https://github.com/Kitware/CMake
[submodule "submodules/curl"]
	path = submodules/curl
	url = https://github.com/curl/curl
